<html>
  <head>
    <title>{{description}}</title>
  </head>
  <body>
    <!-- Will be bootstrapped by Angular -->
    <{{component.selector}}></{{component.selector}}>
  </body>
  <script type="application/dart" src="main.dart"></script>
  <script src="packages/browser/dart.js"></script>
</html>